@import "tailwindcss";

.enemy {
  background-color: black;
  color: blanchedalmond;
}

.weapon {
  background-color: yellow;
}

.potion {
  background-color: red;
}

.sword {
  cursor: url('./assets/sword-icon.png') 45 5, auto !important;
}